*{
	padding: 0;
	margin: 0 auto;
	color: #333;
}

a{text-decoration: none;}
li{list-style: none;}

.container{
	width: 1200px;
}

.header{
	margin-bottom: 100px;
}

.container>h2{
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
}

.topmenu{
	float: right;
}

.topmenu li{
	float: left;
	padding: 10px;
}

.logo{
	margin-bottom: 50px;
	display: block;
	width: 400px;
}

.mainnav{
	border-top: 1px solid black;
}



.mainnav li{
	font-size: 18px;
	z-index: 999;
	position: relative;
	float: left;
	width: 300px;
	text-align: center;
	line-height: 60px;
	
}

.mainnav li a{
	display: block;
	padding: 10px;
}

.mainnav li a:hover{
	background: #ddd;
}

.content1{
    overflow: hidden;
    background: #ddd;
}

.subnav{
	min-height: 350px;
	position: absolute;
	display: none;
	background: #fff;
	border-bottom: 1px solid black;
}

.subnav li{
	font-size: 14px;
}

.slide{
	margin-top: 150px;
	display: block;
	width: 1200PX;
	height: 480px;
	position: relative;
	
}

.slide li{
	position: absolute;
	display: none;
}

.slide img{
	width: 100%;
}


.content2{
    overflow: hidden;
    background: #ccc;
}

.category li{
	width: 25%;
	float: left;
	text-align: center;
	margin-bottom: 100px;
}

.category li a{
	padding: 10px;
}

.category li a:hover{
	opacity: 30%;
}

.category img{
	width: 70%;
}

.content3{
    overflow: hidden;
    background: #ddd;
}

.mainimg{
	width: 600px;
	height:800px;
	float: left;
	overflow: hidden;
	
}

.layout{
	width: 600px;
	height: 400px;
	float: left;
	overflow: hidden;
}

.layout:last-child{
	margin-bottom: 100px;
}

.lookbook a:hover{
	opacity: 70%;
}

.content4{
    overflow: hidden;
    background: #ccc;
}

.event li{
	width: 390px;
	height: 700px;
	float: left;
	margin-right: 10px;
	margin-bottom: 100px;
}

.eventphoto{
	width: 390px;
	height: 500px;
	overflow: hidden;
}

.eventtxt{
	width: 390px;
	height: 200px;
	background: #fff;
}


.event1{
	border-bottom: 3px solid black;
}

.event2{
	border-top: 3px solid black;
}



.content5{
	display: block;
	margin-bottom: 100px;
    overflow: hidden; 
    background: #d1d1d1;    
    position: relative;
}

.content5 .container {
    
    position: relative;
    overflow: hidden;
}


h2{
	margin-bottom: 100px;
	margin-top: 100px;
}

.review{
    width: 1200px;
    position: relative;
    display: flex;
}



.reviewwrap{
	box-shadow: 5px 5px #ddd;
	border-radius: 10px;
	padding: 4px;
	padding-top: 10px;
	float: left;
	width: 220px;
	height: 430px;
	background-color: #fff;
	margin-left: 12px;
	margin-bottom: 100px;
}



.photoreview{
	width: 210px;
	height: 220px;
	object-fit: contain;
	overflow: hidden;
	margin-bottom: 20px;
    display: flex;
}

.photoreview img{
	width: 250px;
	height:250px;
}

.reviewtxt{
	width: 210px;
	height: 210px;
	padding: 2px;
	
}

.reviewtxt p{
	padding: 10px;
}

.review>ul{
	margin-bottom: 100px;
}


.next{
     position: absolute;
	background: #999;
	width: 50px;
	height: 50px;
	clear: both;
	border-radius: 100%;
	text-align: center;
    line-height: 50px;
    right: 150px;
    top: 50%;
}

.prev{
     position: absolute;
	background: #999;
	width: 50px;
	height: 50px;
	clear: both;
	border-radius: 100%;
	text-align: center;
    line-height: 50px;
    left: 150px;
    top: 50%;
}



.footer{
	clear: both;
	background: #ccc;
	margin-top: 100px;
}

.quickbanner{
	padding: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 50px;
	height: 100px;
	background: #ddd;
	position: fixed;
	bottom: 150px;
	right: 150px;
	border-radius: 100px;
	text-align: center;
}

